.head {
    height: 4.25em;
    text-align: center;
}


h1 {
    font-size: 1em;
}

.content {
    position: relative;
    margin-left: 5%;
    width: 90%;
    height: 80%;
}

.paper {
    color: red;
    margin-top: 1.14583333em;
    bottom: 0;
    display: block;
    padding-left: 10.5%;
    padding-right: 10.5%;
    text-align: justify;
    font-size: 3em;
}

strong {
    color: blue;
    font-size: 1em;
    float: right;
}

button {
    font-family: 'Handlee', cursive;
    color: rgb(155, 55, 194);
    font-size: 2em;
    bottom: 0;
    right: 0;
    border: none;
    background-color: transparent;
    outline: focus;
    margin-top: 2%;
    margin-left: 70%;
}

button:hover {
    cursor: pointer;
}


