
@media (max-width: 760px) {
    body {
	background-color: rgb(255, 255, 204);
	font-size: 8px !important;
    }
    .paper {
	min-width: 7em;
	min-height: 12em;
	text-align: left!important;
    }
}

@media (min-width: 761px) {
    body {
	/* gradients left red line, top white space, blue lines */
	background-image: -moz-linear-gradient(to right, rgba(255, 255, 255, 0) 40px, red 40px, rgba(255, 255, 255, 0) 45px, rgba(255, 255, 255, 0)), -moz-linear-gradient(top, white 0px, white 69px, rgba(255, 255, 255, 0) 70px), -moz-repeating-linear-gradient(white 0px, white 18px, #a6ffed 19px, white 20px);
	background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 40px, red 40px, rgba(255, 255, 255, 0) 45px, rgba(255, 255, 255, 0)), -webkit-linear-gradient(white 0px, white 69px, rgba(255, 255, 255, 0) 70px), -webkit-repeating-linear-gradient(white 0px, white 18px, #a6ffed 19px, white 20px);
	background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0) 40px, red 40px, rgba(255, 255, 255, 0) 45px, rgba(255, 255, 255, 0)), -o-linear-gradient(white 0px, white 69px, rgba(255, 255, 255, 0) 70px), -o-repeating-linear-gradient(white 0px, white 18px, #a6ffed 19px, white 20px);

	background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 40px, red 40px, rgba(255, 255, 255, 0) 45px, rgba(255, 255, 255, 0)), linear-gradient(white 0px, white 69px, rgba(255, 255, 255, 0) 70px), repeating-linear-gradient(white 0px, white 18px, #a6ffed 19px, white 20px);
    }
    .paper {
	min-height: 7em;
	min-width: 12em;
	line-height: 1.354166em;
	text-align: left!important;
    }
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Shadows Into Light', cursive, 'Handlee', cursive;
    font-weight: 600;
    font-size: 16px;
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
}

* {

    box-sizing: border-box;
}

